---
import BaseLayout from "../../layouts/BaseLayout.astro";
// import BlogPost from "../components/BlogPost.astro";
// const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";

//microCMS呼び出し
import { getBlogs } from "../../library/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <!-- <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul> -->
  <ul>
    {
      response.contents.map((content: any) => (
        <li>
          <a href={`/blog/${content.id}`}>{content.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  li {
    list-style: none;
  }
  li a {
    color: #2c568e;
    text-decoration: none;
    transition: all 0.4s;
  }
  li a:hover,
  a:focus {
    opacity: 0.7;
  }
</style>
